<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<title> {% block title %} 搜尋結果 {% endblock %}</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css"
		href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_page/util.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_page/main.css')}}">
</head>

<body>
<div class="text-center mt-4" style="overflow-x:auto;white-space: nowrap;">
    <table  class="table table-bordered">
        <thead class="table-secondary">
            <tr>
                <th scope="col">教室位置</th>
                <th scope="col">教室</th>
                <th scope="col">可容納人數</th>
            </tr>
        </thead>
        <tbody>
            {%if result != None %}
                {%for r in result%}
                <tr>
                    <th scope="row" class="text-center align-middle">
                        {{r['building']}}
                    </th>
                    <th scope="row" class="text-center align-middle">
                        {{r['roomName']}}
                    </th>

                    <th scope="row" class="text-center align-middle">
                        {{r['capacity']}}
                    </th>
                </tr>
            {%endfor%}
        </tbody>

    </table>
    
    {% else %}
        </tbody>

    </table>
    <h1 class="text-center mt-3 mb-2">無資料</h1>
    {% endif %}


    <fooster style="position:absolute;left: 90%;"> 
        NTUST CSIE 2020
    </fooster>


	<script src="{{ url_for('static', filename='js/login_page/main.js') }}" type="text/javascript"></script>

	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}" type="text/javascript"></script>

	<script src="{{ url_for('static', filename='vendor/animsition/js/animsition.min.js') }} "
		type="text/javascript"></script>

	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"
		type="text/javascript"></script>

	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}" type="text/javascript"></script>

	<script src="{{ url_for('static', filename='vendor/daterangepicker/moment.min.js') }}"
		type="text/javascript"></script>
	<script src="{{ url_for('static', filename='vendor/daterangepicker/daterangepicker.js') }}"
		type="text/javascript"></script>

	<script src="{{ url_for('static', filename='vendor/countdowntime/countdowntime.js') }}"
		type="text/javascript"></script>

    <script src="{{ url_for('static', filename='js/login_page/main.js' ) }}" type="text/javascript"></script>
    
</div>
</body>
</html>
	
