{% extends "base.html" %}
{% block title %} 
線上教室預約系統 - 借用登記
{% endblock %}
{% block content %}
	<div>
		<div class="d-flex justify-content-center align-items-start h-100 ">
			<div class="text-dark">
				<h1 class="text-center mt-3 mb-2">借用登記</h1>

				<h5 class="text-center">Borrowing</h5>		
				
			</div>
		</div>

		<div class="d-flex justify-content-center align-items-center mt-4">
			<div style="width:75%;border-color:black;border-style:solid;border-width:1px;padding:30px;">
				<form method="POST" action={{url_for('borrow_page')}}>
					<div class="form-group">
					  <label for="titleInput">會議名稱(Meeting Title)</label>
					  <input class="form-control" id="titleInput" aria-describedby="titleHelp" placeholder="輸入名稱" maxlength="10" name="title">
					  <small id="titleHelp" class="form-text text-muted">會議名稱最多10字</small>
					</div>
					<div class="form-group">
					  <label for="startDate_input">開始</label>
					  <br>
					  <input style="display: inline ;width: 30%;left:5%" class="form-control" type="date" id="startDate_input" name="startDate">
						<span>
						,&nbsp;&nbsp;第 <input  class="border-bottom border-dark" style="width:5%;text-align:center"
							onkeyup="value=value.replace(/[^\d]/g,'') " 　　
							onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
							　　 ID="begin_section" name="startSection">
						節
						</span>
					</div>
					<div class="form-group">
						<label for="endDate_input">結束</label>
						<br>
						<input style="display: inline ;width: 30%;left:5%" class="form-control" type="date" id="endDate_input" name="endDate">
						<span>
						  ,&nbsp;&nbsp;第 <input class="border-bottom border-dark" style="width:5%;text-align:center"
							  onkeyup="value=value.replace(/[^\d]/g,'') " 　　
							  onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
							  　　 id="endSection" name="endSection">
						  節
						  </span>
					  </div>

					<div class="form-group">
						<label for="buildingSelect">大樓(building)</label>
						<select class="custom-select mr-sm-2 border border-secondary mt-2 mb-3" 
							id="buildingSelect" name="building" >
								<option selected>請選擇大樓...</option>
								{%for b in buildings%}
									<option value={{b}}> {{b}} </option>
								{%endfor%} 
							</select>
					</div>
					<div class="form-group">
						<label for="room_id_input">教室編號(Room Id)</label>
						<input class="form-control" id="room_id_input" aria-describedby="roomNameHelp" onkeyup="value=value.replace(/[\W]/g,'') " 　　
							onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
						 	placeholder="輸入教室編號" name="roomName">
						<small id="roomNameHelp" class="form-text text-muted">如:TR313</small>
					  </div>
					
					<div class="form-group">
						<div>
							<label for="room_id_input">參與人(Participants)</label>
							<button class="btn btn-success ml-3 text-center mb-1" style="width: 60px;"id="addrow" type="button">新增</button>
						</div>
						<div class="text-center" style="overflow-y:auto;white-space: nowrap;height: 200px; width: 400px;">
					<table id="myTable" class="table order-list">
						<input hidden name ="counter" id="counter" value=0>
						<tbody>
							<tr>
								<td class="col-sm-4">
									<input type="text" name="participant0" class="form-control" />
								</td>
								<td>
									<input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete">
								</td>
							</tr>
						</tbody>
					</table>
					</div>

					</div>
					<button type="submit" style="width: 200px;" class="btn btn-primary btn-lg mt-3">
						搜尋
						<br>
						search
					</button>

					{% if admin == "admin" %}
					<button type="submit" style="width: 200px;" class="btn btn-danger btn-lg mt-3 ml-5">
						禁用
						<br>
						forbid
					</button>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
<script>
	$(document).ready(function () {
	var id = document.getElementById("counter");
    
    $("#addrow").on("click", function () {
        var newRow = $("<tr>");
		var cols = "";
		
        cols += '<td><input type="text" class="form-control" name="participant' + id.value + '"/></td>';
        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
        newRow.append(cols);
		$("table.order-list").append(newRow);
		id.value++;
    });


    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();
    });
});
</script>
{% endblock %}