<!DOCTYPE html>
<html lang = "zh-TW">      
<head>
	<meta charset="UTF-8">
	<title>Lulala page</title>    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
		function setCookie(cname,cvalue,cid,cidvalue,exdays) {
		var d = new Date();
		d.setTime(d.getTime() + (exdays*24*60*60*1000));
		var expires = "expires=" + d.toGMTString();
		document.cookie = cname + "=" + cvalue + ";" + cid + "=" + cidvalue + ";"+ expires + ";path=/";
		}

		function getCookie(cname) {
		var tname = cname + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
		var ca = decodedCookie.split(';');
		for(var i = 0; i < ca.length; i++) {
			var c = ca[i];
			while (c.charAt(0) == ' ') {
			c = c.substring(1);
			}
			if (c.indexOf(tname) == 0) {
			return c.substring(tname.length, c.length);
			}
		}
		return "";
		}

		function check_Cookie(name , id) {
		alert("check cookie");
		var user=getCookie("username");
		var userid=getCookie("cid");
		if (user != "" && userid != "") {
			document.getElementById("test_1").innerHTML = name;
			var tmp = "Hello " + user + " your id is " + userid;
			alert("have cookie " + tmp);
			//"Hello {{user}} your id is {{userid}}"
			document.getElementById("hello").innerHTML = tmp;
		}
		else {
			document.getElementById("test_1").innerHTML = id;
			alert("no cookie")
			if(name != "")
			{
				alert("set cookie")
				setCookie("username",name , "cid" , id , 30)
			}
		}
		}
	</script>  
</head>
<body onload="check_Cookie(name , id)">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">HaHaOWO</a>
		  </div>
		  <ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">嗨老鍋 <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a href="https://www.facebook.com/profile.php?id=100003769210042">你是垃圾</a></li>
				<li><a href="#">不要懷疑</a></li>
				<li><a href="#">就是在說你</a></li>
				<li><a href="https://www.facebook.com/yvonneshihyvonne">還有你母湯</a></li>
			  </ul>
			</li>
			<li><a href="#">Page 2</a></li>
			<li><a href="#">Page 3</a></li>
		  </ul>
		  <form class="form-inline" method="POST">
			<input class="form-control mr-sm-2" type="text" name="user" placeholder="Search">
			<button class="btn btn-success" type="submit" name="send" value="Search">Search</button>
			<button class="btn btn-success" type="submit" name="send" value="Register">Register</button>
		  </form>
		  
		</div>
	</nav>
	<div class="container">
		<h3>Navbar With Dropdown</h3>
		<p id="hello">Hello {{name}} world {{id}}</p>
		<p>This example adds a dropdown menu for the "Page 1" button in the navigation bar.</p>
		<p id="test_1">I am test</p>
	</div>
</body>                                                                                             
<head>                                                                                                                                                                           