{% extends "base.html" %}
{% block title %} 
線上教室預約系統
{% endblock %}

{% block content %}
	<div class="h-auto w-auto ">
		<div class="d-flex justify-content-center align-items-center h-100 ">
			<div class="text-dark">
				<h1 class="text-center mt-5 mb-3">線上教室預約系統</h1>
				<h5 class="text-center mt-1 mb-5">Welcome to the Virtual Room Reservation Assistant</h5>
			</div>
		</div>
	</div>

	<div class="h-auto d-flex justify-content-center align-items-center m-5 p-5">
		<a class="btn btn-outline-dark btn-lg m-5 p-2" style="width: 200px;height: 100px; "
			href="{{url_for('search_page')}}" role="button" target="_self">
			教室查詢
			<br>
			Classroom Search
		</a>
		<a class="btn btn-outline-dark btn-lg m-5" style="width: 200px;;height: 100px;"
			href="{{ url_for('borrow_page') }}" target="_self" role="button">
			借用登記
			<br>Borrowing
		</a>
		<a class="btn btn-outline-dark btn-lg m-5" style="width: 200px;;height: 100px;"
			href="{{ url_for('record_page') }}" role="button" target="_self">
			預約紀錄查詢
			<br>Borrowing Record
		</a>
		{% if admin == "admin" %}
		<a class="btn btn-outline-dark btn-lg m-5" style="width: 200px;;height: 100px;"
			href="{{ url_for('account_management_page') }}" role="button" target="_self">
			一般帳號管理
			<br>Account Management
		</a>
		{% endif %}
	</div>
{% endblock %}

{% block head_script%}
<script type="text/javascript">
	function error_message() {
		if("{{message}}" == "error")
			alert('查無帳號!');
		else if("{{message}}" == "delete_success")
			alert('刪除成功!');
		else if("{{message}}" == "delete_fail")
			alert('刪除失敗!');
		else if("{{message}}" == "ban_success")
			alert('禁用成功!');
		else if("{{message}}" == "ban_fail")
			alert('禁用失敗');
		else if("{{message}}" == "unban_success")
			alert('解禁成功');
		else if("{{message}}" == "unban_fail")
			alert('解禁失敗');
	}
    window.onload = error_message();
</script>
{% endblock %}