{% extends "base.html" %}
{% block title %} 
線上教室預約系統 - 修改預約紀錄
{% endblock %}
{% block content %}
	<div>
		<div class="d-flex justify-content-center align-items-start h-100 ">
            <div class="text-dark">
                <h1 class="text-center mt-3 mb-2">修改預約紀錄</h1>
        
                <h5 class="text-center mb">Modify Record</h5>		
               
            </div>
        </div>

		<div class="d-flex justify-content-center align-items-center mt-4">
            <div style="width:75%;border-color:black;border-style:solid;border-width:1px;padding:30px;">
                <form method="POST" action={{url_for('single_record_page')}} id="recordForm" onsubmit="modify_record()">

					<input type="hidden" name ="postType" value="modify">
					<input type="hidden" name ="recordID" value={{record['recordID']}}>
					<div class="form-group">
						<label for="titleInput">會議名稱(Meeting Title)：</label>
						<input class="form-control" id="titleInput" aria-describedby="titleHelp" 
						placeholder="輸入名稱" maxlength="10" value={{record['title']}} name="title">
						<small id="titleHelp" class="form-text text-muted">會議名稱最多10字</small>
					</div>
					<div class="d-flex justify-content-center">
						<div class="w-50"> <label for="startDate_input">開始：</label> </div>
						<div class="w-50"> <label for="endDate_input">結束：</label> </div>
					</div>
					<div class="d-flex justify-content-center">
						<div class="w-50"> 
							<input style="display: inline ;width: 40%;left:5%" class="form-control" 
						type="date" id="startDate_input" value={{record['startDate']}} readonly>
						  <span>
							,&nbsp;&nbsp;第 <input style="width:5%;text-align:center" 
                        
							value={{record['startSection']}} readonly>
							節
						  </span>
						</div>
						<div class="w-50"> 
							<input style="display: inline ;width: 40%;left:5%" class="form-control" 
							type="date" id="endDate_input" value={{record['endDate']}} readonly>
							<span>
							,&nbsp;&nbsp;第 <input style="width:5%;text-align:center" 
						
							value={{record['endSection']}} readonly>
							節
							</span>
						</div>
					</div>

				<br>
				<div>
					地點：
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{record['building']}}
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;{{record['roomName']}}
		
                <br>
                <br>
				
				<div class="form-group">
					<div class="d-flex justify-content-start align-items-center">
						<label for="room_id_input">參與人(Participants)</label>
						<select class="custom-select border border-secondary w-auto ml-4" 
						id="userSelect">
							<option selected>請選擇用戶...</option>
							{%for b in remainingUserNames%}
								<option value={{b}}>{{b}}</option>
							{%endfor%} 
						</select>
						<button class="btn btn-success ml-3 text-center mb-1" style="width: 60px;"id="addrow" type="button">新增</button>
					</div>
					<div class="text-center" style="overflow-y:auto;white-space: nowrap;height: 200px; width: 320px;">
				<table id="myTable" class="table order-list">
					<input hidden name ="counter" id="counter" value={{record['participant']|length}}>
					<tbody>
						{% for p in record['participant']%}
						<tr>
							<td>
								<input type="text" class="form-control" name ="participant{{loop.index0}}" value={{p}} readonly>
							</td>
							<td>
								<input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete">
							</td>
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
				</div>

				</div>
				<div class="d-flex justify-content-center w-100">
					<button type="button" style="width: 200px;" class="btn btn-primary btn-lg" onclick="modify_record()">
						保存修改
					</button>
					<a class="btn btn-danger btn-lg ml-4" style="width: 200px;"
						href="{{ url_for('record_page') }}" role="button" target="_self">
						取消修改
					</a>
				</div>
				</form>
				
            </div>
		</div>
	</div>
{% endblock %}

{% block head_script %}
<script type="text/javascript">
	function error_message() {
		if("{{message}}" == "modify_success")
		{
			alert('修改成功!');
			window.location.href= '{{url_for('record_page')}}';
		}
	}
    window.onload = error_message();
</script>
{% endblock %}



{% block script %}

<script>

	function modify_record()
	{
		if(document.getElementById('titleInput').value == '')
		{
			alert('標題不可為空!');
		}
		else
		{
			document.getElementById('recordForm').submit();
		}
	}

	$(document).ready(function () {
	var id = document.getElementById("counter");
	var userSelecter = document.getElementById("userSelect");
	


	$("#addrow").on("click", function () {

		if  ($("#userSelect option:selected").text() != "請選擇用戶...")
		{
			var newRow = $("<tr>");
			var cols = "";
			
			cols += '<td><input type="text" class="form-control" name="participant' + id.value + '" value="' +  $("#userSelect option:selected").text() + '"readonly /></td>';
			cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger" value="Delete"></td>';
			newRow.append(cols);
			$("table.order-list").append(newRow);
			id.value++;

			userSelecter.options.remove(userSelecter.selectedIndex);
		}
		else
		{
			alert('請先選擇用戶再按新增!');
		}
	});

	$("table.order-list").on("click", ".ibtnDel", function (event) {
		
		var delete_val = $(this).parent().siblings().children().attr('value');

		userSelecter.options.add(new Option(delete_val, delete_val));

		$(this).closest("tr").remove();
	});

});
</script>


<!-- <script src="../static/js/single_record_page/addRow6.js" type="text/javascript"></script> -->


<!-- <script src="{{ url_for('static', filename='js/single_record_page/addRow3.js' ) }}" type="text/javascript"></script> -->
{% endblock %}